@import url(normalise.css);
@import url(vars.css);

html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--white-color);
}

.container {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main,
footer {
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* ul {
    display: flex;
    flex-direction: row;
} */

/* HEADER */

.header {
    max-width: 970px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--gray-color);
}

/* .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */


.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav__item a {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: var(--gray-color);
}

.nav__item a:hover {
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}

.nav__item .active {
    color: var(--black-color);
}

/* MAIN */

/* main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* HOME */

/* .home__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
} */

.home__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.home__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--black-color);
}

.home__photo {
    max-width: 970px;
    width: 100%;
}

/* ABOUT */

.about-me {
    background: #F6F6F6;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .about-me__container {
    gap: 50px;
} */

.about-me__container {
    background: #F6F6F6;
    gap: 50px;
}


.about-me__title {
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
}

.about-me__wrapper-text {
    max-width: 480px;
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    text-align: center;
}

.about-me__text {
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
    line-height: 1.5;
}

.about-me__text:not(:last-child) {
    margin-bottom: 30px;
}

/* SKILLS */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills__container {
    gap: 50px;
}

.skills__wrapper-title {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; */
    text-align: center;
}

.skills__title {
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.skills__text {
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
}

.skills__wrapper-cards {
    max-width: 970px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    gap: 20px; */
}

.skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 96px;
}

.skills__item {
    width: 170px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px; */
    text-align: center;
}

.skills__card {
    width: 80px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center; */
    padding-bottom: 60px;
    margin: 0 auto;
}

.skills__card-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
}

.skills__card-title {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    color: var(--gray-color);
}

.skills__stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* POTROFOLIO */

.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.portfolio__container {
        gap: 50px;
}

.portfolio__title {
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
}

/* .portfolio__list {
    flex-direction: column;
    gap: 70px;
} */

/* .portfolio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
} */

.portfolio__item:nth-child(2) {
    margin: 70px 0;
}

.portfolio__item-image {
    max-width: 970px;
    width: 100%;
    margin-bottom: 40px;
}

.portfolio__item p {
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
    text-align: center;
    line-height: 1.5;
}

/* FOOTER */

.footer {
    padding: 100px 0 50px 0;
    width: 100%;
}

.footer__container {
    max-width: 970px;
    width: 100%;
    gap: 60px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px; */
    /* background: #F6F6F6; */
}

.footer__wrapper-title {
    width: 280px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; */
}

.footer__title {
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.footer__text {
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
    line-height: 1.7;
}

.footer__wrapper-form {
    width: 310px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; */
}

.footer__button {
    width: 180px;
    height: 44px;
    padding: 10px 16px;
    background: var(--black-color);
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: var(--white-color);
    cursor: pointer;
    margin-bottom: 30px;
}

.footer__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .footer__wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
} */

.footer__wrapper-text p {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
    text-align: center;
}