@import url(normalise.css);
@import url(vars.css);

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--white-color);
}

.container {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main,
footer {
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* HEADER */

.header {
    max-width: 970px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--gray-color);
}

.nav {
    width: 100%;
}

.nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__item a {
    font-family: var(--primary-font);
    font-size: 18px;
    letter-spacing: 0.2px;
    color: var(--gray-color);
}

.nav__item a:hover {
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.nav__item .active {
    color: var(--black-color);
}

/* MAIN */
/* HOME */

.home__container {
    align-items: flex-start;
    gap: 50px;
}

.home__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home__title {
    max-width: 124px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 48px;
    color: var(--black-color);
}

.home__subtitle {
    font-family: var(--secondary-font);
    max-width: 156px;
    font-size: 16px;
    color: var(--black-color);
    line-height: 1.5;
}

.home__list-lang {
    display: flex;
    flex-direction: row;
    gap: 5px;
    transform: rotate(-90deg);
    padding-top: 40px;
}

.home__item-lang a {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    color: var(--gray-color);
    text-transform: uppercase;
}

.home__item-lang a.active {
    color: var(--black-color);
}

.slech::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 15px;
    background-color: var(--black-color);
    margin-left: 5px;
}

.home__photo {
    max-width: 970px;
    width: 100%;
}

/* ABOUT */

.about-me {
    background: #F6F6F6;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-me__container {
    background: #F6F6F6;
    gap: 50px;
}

.about-me__title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
}

.about-me__wrapper-text {
    max-width: 480px;
    text-align: center;
}

.about-me__text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
    line-height: 1.5;
}

.about-me__text:not(:last-child) {
    margin-bottom: 30px;
}

/* SKILLS */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills__container {
    gap: 50px;
}

.skills__wrapper-title {
    text-align: center;
}

.skills__title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.skills__text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
}

.skills__wrapper-cards {
    max-width: 970px;
    width: 100%;
}

.skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 96px;
}

.skills__item {
    width: 170px;
    text-align: center;
}

.skills__card {
    width: 80px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.skills__card-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
}

.skills__card-title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    color: var(--gray-color);
}

.skills__stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* POTROFOLIO */

.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.portfolio__container {
        gap: 50px;
}

.portfolio__title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
}

.portfolio__item:nth-child(2) {
    margin: 70px 0;
}

.portfolio__item-image {
    max-width: 970px;
    width: 100%;
    margin-bottom: 40px;
}

.portfolio__item p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
    text-align: center;
    line-height: 1.5;
    text-decoration: underline;
}

/* FOOTER */

.footer {
    padding: 100px 0 50px 0;
    width: 100%;
}

.footer__container {
    max-width: 970px;
    width: 100%;
    gap: 60px;
    text-align: center;
}

.footer__wrapper-title {
    width: 280px;
}

.footer__title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 34px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.footer__text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
    line-height: 1.7;
}

.footer__wrapper-form {
    width: 310px;
}

.footer__button {
    font-family: var(--primary-font);
    width: 180px;
    height: 44px;
    padding: 10px 16px;
    background: var(--black-color);
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: var(--white-color);
    cursor: pointer;
    margin-bottom: 30px;
    outline: none;
    border: none;
}

.footer__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__wrapper-text p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-color);
    text-align: center;
}

.footer__link:hover {
    opacity: 0.5;
    transition-duration: 1s;
}